HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/


backend/target/
backend/*.log
backend/.idea/
backend/*.iml
backend/.vscode/

mobile_app/.dart_tool/
mobile_app/.idea/
mobile_app/.vscode/
mobile_app/build/
mobile_app/android/app/build/
mobile_app/ios/Flutter/Generated.xcconfig
mobile_app/ios/Flutter/flutter_export_environment.sh
mobile_app/ios/Pods/
mobile_app/ios/.symlinks/
mobile_app/pubspec.lock


*_data/